/* General Page Styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* Allows for body to fill the page */
.container {
  flex: auto;
  height: 100vh;
}

/* Download Button */
.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.download-btn:hover {
  background-color: #0056b3;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 50px;
  background-color: #333;
  color: white;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #575757;
}
