/* Header & the navigation bar */
header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}

.logImg {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin-bottom: 10px;
}

header hr {
  border: 1px solid #747474;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  font-size: 18px;
}

nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Main style choices for the page*/
body {
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  margin: 0;
  flex-direction: column;
}

/* Using a container wrapper to fill the page & position footer at the bottom */
.container section {
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  text-align: center;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.download-btn:hover {
  background-color: #0056b3;
}

/* Footer */
.authors-footer {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 50px;
  border-top: 1px solid #ccc;
  text-align: center;
}

.authors-footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.authors-footer li {
  display: inline-block;
  margin: 0 10px;
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 50px;
  background-color: #333;
  color: white;
}
