/* Header & the navigation bar */
header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}

header hr {
  border: 1px solid #747474;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  font-size: 18px;
}

nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Main style choices for the page*/
body {
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  margin: 0;
  flex-direction: column;
}

/* Using a container wrapper to fill the page & position footer at the bottom */
.container {
  min-height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
  flex: auto;
  display: flex;
  flex-direction: row;
}

/*Download section */
.download-section {
  padding-right: 150px;
}
/* Download button */
.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.download-btn:hover {
  background-color: #0056b3;
}

/* Authors bar*/
.authors {
  position: static;
  left: 20px;
  width: fit-content;
  max-height: fit-content;
  padding: 20px;
  margin-right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: 50px;
  background-color: #333;
  color: white;
}
